.body {
    background-image: url("../assets/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: white;
    width: 70%;
    height: 85%;
    border-radius: 70px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.main {
    width: 40%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec {
    width: 40%;
    height: 85%;
    border-radius: 50px;
    background-image: url("../assets/pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: #250B3F;
    font-size: 80px;
    margin-top: 80px;
}

input {
    padding-right: 150px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-radius: 30px;
    border: 0.1px solid grey;
}

button {
    width: 305px;
    height: 45px;
    border-radius: 30px;
    border: none;
    background-color: #250B3F;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}
